.build
.cache
.coverage
.pytest_cache
.eggs
.tox
build
/dist
venv
jupytext.egg-info
future
*.pyc
gits*
.ipynb_checkpoints
docs/_build
jupytext/labextension

# Will be created by postBuild
demo/get_started.ipynb

# jetbrains ide stuff
*.iml
.idea/

# vscode ide stuff
*.code-workspace
.history
.vscode/*
!.vscode/*.template

# Test related files
*.coverage*
*.xml
.ruff_cache

# Ignore node_modules and yarn cache
node_modules
.yarn

# Ignore jupyter-releaser related stuff
.jupyter_releaser_checkout
