.idea
.vscode
.build
.cache
.coverage
.pytest_cache
.eggs
build
/dist
venv
jupytext.egg-info
future
*.pyc
gits*
.ipynb_checkpoints
docs/_build
.DS_Store
.tox

# Will be created by postBuild
demo/get_started.ipynb
