# Install the pre-commit hooks below with
# 'pre-commit install'

# Auto-update the version of the hooks with
# 'pre-commit autoupdate'

# Run the hooks on all files with
# 'pre-commit run --all'

# NB: In this config we exclude the example and tests notebooks
# from the code hooks (black, flake8, etc) as we want to keep
# the text representation of the test notebooks unchanged
exclude: >
    (?x)^(
      demo/.*|
      tests/notebooks/.*|
    )$
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.9.0
    hooks:
    - id: pyupgrade
      args: ["--py38-plus"]

  - repo: https://github.com/myint/autoflake
    rev: v2.2.0
    hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      # isort needs the 'black' profile when used in combination with black
      # See https://github.com/PyCQA/isort/issues/1518
    - id: isort
      args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
    - id: black
