language: python
python:
  - "2.7"
  - "3.4"
  - "3.6"
  # PyPy versions
  - "pypy3.5"
# command to install dependencies
install:
  - pip install codecov
  - pip install pytest pytest-cov
  - pip install -r requirements.txt
  - pip install .
# command to run tests
script:
  - coverage run --source=. -m py.test -s tests/
after_success:
  - coverage report
  - codecov
