include LICENSE
include *.md
include *.txt

exclude packages/labextension/node_modules
graft packages/labextension/src
include packages/labextension/LICENSE
include packages/labextension/package.json
include packages/labextension/tsconfig.json
include packages/labextension/yarn.lock
include packages/labextension/README.md

graft jupyter-config
graft tests

global-exclude *.pyc
global-exclude *population.ipynb
global-exclude plotly_graphs.ipynb
global-exclude Notebook_with_R_magic.ipynb
