include LICENSE
include *.md
include *.txt

graft jupyter-config
graft tests

exclude packages/labextension/node_modules/
exclude packages/labextension/yarn.lock
exclude packages/labextension/.gitignore

global-exclude *.pyc
global-exclude *population.ipynb
global-exclude plotly_graphs.ipynb
global-exclude Notebook_with_R_magic.ipynb
