nbformat>=5.1.2
flake8
isort
black
pytest>=3.6
pytest-randomly
pytest-cov
notebook
jupyter_client
nbconvert
ipykernel
sphinx-gallery<=0.7.0
setuptools
toml
jupyterlab==3.0.17
jupyter-packaging
pre-commit
gitpython
