name: CI (pip)
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.4, 3.5, 3.6, 3.7, 3.8]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          # install black if available (Python 3.6 and above), and autopep8 for testing the pipe mode
          pip install black || true
          pip install autopep8 || true
          # install sphinx_gallery and matplotlib if available (may not work on pypy)
          pip install sphinx_gallery || true
      - name: Lint with flake8
        run: |
          # Show path and content
          pwd
          tree -L 1
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          all Python files should follow PEP8 (except some notebooks, see setup.cfg)
          flake8 jupytext tests
          # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --statistics
      - name: Install from source (required for the pre-commit tests)
        run: pip install .
      - name: Test with pytest
        run: |
          coverage run --source=. -m py.test
