name: Publish
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/step_build.yml

  publish:
    needs: [ build ]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/jupytext

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v3


      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.59.0
          cache: true

      - name: Build package
        run: |
          eval "$(pixi shell-hook)"
          HATCH_BUILD_HOOKS_ENABLE=true hatch build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
