name: Publish
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+dev[0-9]+"

jobs:
  pre-commit:
    uses: ./.github/workflows/step_pre-commit.yml

  codeql:
    needs: [ pre-commit ]
    uses: ./.github/workflows/step_static-analysis.yml

  test-pip:
    needs: [ codeql ]
    uses: ./.github/workflows/step_tests-pip.yml

  test-conda:
    needs: [ codeql ]
    uses: ./.github/workflows/step_tests-conda.yml

  build:
    needs: [ test-pip, test-conda ]
    uses: ./.github/workflows/step_build.yml

  publish:
    needs: [ build ]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/jupytext

    permissions:
      id-token: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Build package
        run: |
          python -m pip install wheel build
          python -m build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
