name: test-ui
run-name: Run UI tests with Galata

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test-ui:
    continue-on-error: false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.59.0
          cache: true

      - name: Install from source
        run: |
          eval "$(pixi shell-hook)"
          HATCH_BUILD_HOOKS_ENABLE=true python -m pip install -e '.[test-ui]'

      - name: Uninstall jupyter-fs
        run: |
          eval "$(pixi shell-hook)"
          # Uninstall jupyter-fs as it overrides the original browser-test.js to
          # check its own functionality (https://github.com/jpmorganchase/jupyter-fs/blob/main/jupyterfs/browser-test.js)
          pip uninstall jupyter-fs -y

      - name: Install galata
        working-directory: jupyterlab/packages/jupyterlab-jupytext-extension/ui-tests
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: |
          eval "$(pixi shell-hook)"
          jlpm install

      - name: Install browser
        working-directory: jupyterlab/packages/jupyterlab-jupytext-extension/ui-tests
        run: |
          eval "$(pixi shell-hook)"
          jlpm playwright install chromium

      - name: Integration tests
        working-directory: jupyterlab/packages/jupyterlab-jupytext-extension/ui-tests
        run: |
          eval "$(pixi shell-hook)"
          jlpm playwright test

      - name: Upload UI Test artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-output
          path: |
            jupyterlab/packages/jupyterlab-jupytext-extension/ui-tests/test-results
