name: test-pip
run-name: Run tests using Pip

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test-pip:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11", "3.12"]
        include:
          # Test pre-release versions
          - python-version: "3.x"
            dependency_type: "pre"
          # Test minimum markdown-it-py supported (otherwise the most recent version is used)
          - python-version: "3.x"
            markdown-it-py-version: "~=1.0"
          - python-version: "3.x"
            markdown-it-py-version: ""
          - python-version: "3.x"
            no_kernel: true
          - python-version: "3.x"
            quarto: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
        with:
          python_version: ${{ matrix.python-version }}
          dependency_type: ${{ matrix.dependency_type }}

      - name: Install from source
        run: python -m pip install -e '.[test-cov,test-external]' jupyterlab ${{ matrix.markdown-it-py-version && format('markdown-it-py{0}', matrix.markdown-it-py-version) }} ${{ matrix.pip-flags }}

      - name: Install a Jupyter Kernel
        if: ${{ !matrix.no_kernel }}
        run: python -m ipykernel install --name python_kernel --user

      - name: Uninstall markdown-it-py
        # Markdown-it-py is a dependency of Jupytext,
        # but Jupytext should still work if it is not installed
        if: ${{ matrix.markdown-it-py-version == '' }}
        run: python -m pip uninstall markdown-it-py --yes

      - name: Install Quarto
        if: ${{ matrix.quarto }}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          # download the latest release
          gh release download --repo quarto-dev/quarto-cli --pattern 'quarto-*-linux-amd64.deb'
          # install it
          sudo apt install ./*.deb

      - name: Test lab extension
        run: |
          # Check extension
          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "jupyterlab-jupytext.*OK"
          python -m jupyterlab.browser_check

      - name: Test with pytest
        run: pytest --cov

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          verbose: true
