name: pre-commit
run-name: Run pre-commit tests

on:
  workflow_call:

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.59.0
          cache: true

      - name: Pre-commit checks
        run: |
          eval "$(pixi shell-hook)"
          pre-commit run --show-diff-on-failure --all-files

  lint-extension:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
        with:
          python_version: "3.x"

      # Current repo organization will not permit to set up pre-commit config for
      # TS lint related packages due to absence of package.json in the top level
      # repo. So we run lint step separately here
      - name: Lint the extension
        run: |
          # Install JupyterLab in an isolated env to get jlpm
          pip install jupyterlab>=4

          # Install lint deps and lint extension
          cd jupyterlab/
          jlpm
          jlpm run lint:check
